body {
  /* background-color: rgb(251, 236, 245); */
  background-image: url("../profile/images/\ .jpg");
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(226, 89, 155);
  font-size:35px ;
  line-height: 50px;
}


h1, h2, h3 {
  color:  rgb(246, 49, 115);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 50px;
}

a {
  color: rgb(238, 233, 240);
  border: 2px solid rgb(20, 47, 181);
  border-radius: 10px;
  padding: 4px;
  background-color: rgb(20, 41, 181);
  text-align: center;
}

#link {
  background-color: rgb(17, 116, 197);
  text-decoration: none;
}

#image {
  height: 500px;
  width: 500px;
  border-radius: 250px;
}

.card {
  width: 50%;
  border: 2px solid rgb(213, 40, 135);
  border-radius: 15px;
  text-align: center;
  background-color:rgb(249, 216, 236);
  padding: 40px;
  box-shadow: 5px 5px 7px rgb(189, 68, 68);
  margin: 70px auto;

}

ul li{
  display: inline-flex;
  padding: 4px;
  text-align: center;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card {
    width: 80%;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */

  #image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.social {
  border: 2px solid rgb(213, 40, 135);
  text-align: center;
  background-color: rgb(213, 40, 135);

  h3 {
    color: white;
  }
}
